version: "3.9"


x-db-environment: &x-db-environment
  MYSQL_ROOT_PASSWORD: owncloud
  MYSQL_USER: owncloud
  MYSQL_PASSWORD: owncloud
  MYSQL_DATABASE: owncloud
  MARIADB_AUTO_UPGRADE: 1

x-cloud-environment: &x-cloud-environment
  OWNCLOUD_DOMAIN: ${OWNCLOUD_DOMAIN}
  OWNCLOUD_TRUSTED_DOMAINS: ${OWNCLOUD_TRUSTED_DOMAINS}
  OWNCLOUD_DB_TYPE: mysql
  OWNCLOUD_DB_NAME: owncloud
  OWNCLOUD_DB_USERNAME: owncloud
  OWNCLOUD_DB_PASSWORD: owncloud
  OWNCLOUD_DB_HOST: db
  OWNCLOUD_ADMIN_USERNAME: ${ADMIN_USERNAME}
  OWNCLOUD_ADMIN_PASSWORD: ${ADMIN_PASSWORD}
  OWNCLOUD_MYSQL_UTF8MB4: true
  OWNCLOUD_REDIS_ENABLED: true
  OWNCLOUD_REDIS_HOST: redis


services:
  owncloud:
    image: owncloud/server:${OWNCLOUD_VERSION}
    container_name: owncloud_server
    environment:
      <<: *x-cloud-environment
    restart: always
    ports:
      - ${HTTP_PORT}:8080
    depends_on:
      - db
      - redis
    deploy:
      resources:
        limits:
          cpus: "2.0"
    healthcheck:
      test: [ "CMD", "/usr/bin/healthcheck" ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ${OWNCLOUD_STORAGE}:/mnt/data

  db:
    image: mariadb:12.1
    container_name: owncloud_db
    environment:
      <<: *x-db-environment
    restart: always
    command: [ "--max-allowed-packet=128M", "--innodb-log-file-size=64M" ]
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-u", "root", "--password=owncloud" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:8.4-alpine
    container_name: owncloud_redis
    restart: always
    command: [ "--databases", "1" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis_data:/data


volumes:
  cloud_files:
    driver: local
  db_data:
    driver: local
  redis_data:
    driver: local
